body {
    background: #1F1F1F;
    margin-bottom: 100px;
    font-family: 'Source Sans Pro';
}

.navbar.navbar-expand-lg.sticky-top.navbar-dark.bg-dark {
    margin:0;
    padding: 0;
}

.logo {
    width: 100px;
}

.add-friend {
    width: 30px !important;
    margin-right: 20px;
}

.navbarTitle {
    font-size: 40px;
    color: white;
    font-family: 'Anton', cursive;
    margin-left: -30px;
    margin-top: 15px;
    padding: 0px;
}
.gandp {
    font-size: 25px;
    color: white;
    display: flex;
    margin: auto;
    width: 300px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 55px;
    font-family: 'Roboto Condensed', cursive;
}
.searchIcon {
    margin-right: 9px;
    margin-top: 5px;
}
.location {
    font-size: 15px;
    padding: 10px;
    margin: 0px;
}
#active {
    text-decoration: underline;
}
.cardx {
    margin: auto;
    width: 700px;
    background-color:#7AAAD3;
    color: white;
    border-radius: 10px;
    margin-top: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 5px 4px 15px 1px rgba(70, 70, 71, 0.34); 
    box-shadow: 5px 4px 15px 1px rgba(70, 70, 71, 0.34);
}

.top p {
    font-size: 20px;
    font-weight: 600;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: row;
}

.content p {
    margin-left: 30px;
}

.card {
    margin-bottom: 10px;
}

.content img {
    width: 150px;
}


.bookmark {
    width: 20px;
}