body {
    background: #1F1F1F;
    margin: 0;
    font-family: 'Source Sans Pro';
}

.logo {
    width: 130px;
    position: absolute;
    top: 45px;
    left: 100px;
}


.heading {
    font-size: 25px;
    text-align: center;
    color: white;
}

.input {
    width: 360px;
    height: 30px;
    background-color: #1F1F1F;
    border: 2px solid #707070;
    border-radius: 5px;
    color: white;
    padding-left: 10px;
    margin-left: 530px;
}

.toparea {
    margin-top: 120px;
}

.card{
    width: 600px;
    height: 450px;
    margin: 30px auto;
}

.scrollable{
    overflow-y: auto;
    max-height: 420px;
}

.profile {
    display: flex;
    flex-direction: row;
}

.profileinfo {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.profile img {
    width: 100px;
    cursor: pointer;
}

.name {
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.description {
    font-size: 15px;
}
