body {
    margin: 0;
    font-family: 'Source Sans Pro';
    overflow: hidden;
    background-color: #A291FF;
    font-size: 20px;
}

.content {
    display: flex;
    justify-content: space-around;
    margin-top: 250px;
    width: 1400px;
}

.right {
    font-weight: 600;
    color: white;
    width: 400px;
}

.list {
    display: flex;
    color: white;
}

.list img {
    width: 20px;
    margin-right: 15px;
}
.circle {
    position: absolute;
    left: -1700px;
    top: -800px;
    z-index: -3;
}

.logo {
    width: 30px;
    position: absolute;
    top: 45px;
}

.biglogo {
    position: absolute;
    left: calc( 100vw - 650px );
    top: calc( 0vh - 300px);
    scale: .6;
    z-index: -3;
}

.mello, .welcome {
    position: absolute;
    width: 420px;
}

.mello {
    left: 0;
    bottom: 0;
}

.welcome {
    left: 100px;
    bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
}
.buttons a, .buttons a:visited {
    color: white;
}


button {
    width: 380px;
    font-weight: 600;
    cursor: pointer;
}

button, input {
    border-radius: 25px;
    border: none;
    font-size: 15px !important;
    height: 40px;
    font-family: 'Source Sans Pro';
    -webkit-box-shadow: 5px 4px 15px 1px rgba(145,130,229,0.34); 
    box-shadow: 5px 4px 15px 1px rgba(145,130,229,0.34);
}
input {
    background-color: white;
    width: 360px;
    padding-left: 20px;
}

.signup {
    background-color: #7962F4;
    color: white;
}

.login {
    color: #A291FF;
    margin-top: 20px;
}

.small {
    font-size: 15px;
    font-weight: 400;
    margin-top: -20px;
}

form {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inputMargin {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 0px;
    margin-right: 0px;
}

.shift {
    margin-top: -50px;
}

.loginCenter {
    margin: 0 auto;
}

@media only screen and (max-width: 1300px) {
    .content {
        width: 1200px;
    }

    .mello, .welcome {
        width: 380px;
    }

}

@media only screen and (max-width: 1100px) {
    .circle {
        left: -1800px;
    }
    .content {
        width: 1100px;
    }
}

@media only screen and (max-width: 1000px) {
    .content {
        width: 900px;
    }
    .mello, .welcome {
        width: 330px;
    }
    .circle {
        left: -1900px;
    }
}

@media only screen and (max-width: 900px) {
    body {
        font-size: 18px;
    }
    button, input {
        font-size:12px;
    }
    .content {
        width: 850px;
    }
    .mello, .welcome {
        width: 280px;
    }
    .circle {
        left: -1980px;
    }
}

.card {
    margin-bottom: 10px;
}
